---
import '../styles/global.css/';
---
<a class="instructions" href="/">Home</a>
<a class="instructions" href="/info/about/">About</a>
<a class="instructions" href="/posts/blog/">Blog</a>
<a class="instructions" href="/posts/post-1">Post 1</a>